<% provide(:title, "#{@user.name}") %>

<h1><%= @user.name %></h1>

<% if im_friend_of(@user) %>
	<h2>
		<%= form_for(current_user.friendships.find_by(friended_id: @user.id),
				html: { method: :delete }) do |f| %>
			<%= f.submit("Unfriend") %>
		<% end %>
	</h2>
<% else %>
	<h2>
		<%= form_for(current_user.friendships.build) do |f| %>
			<%= f.hidden_field :friended_id, value: @user.id  %>
			<%= f.submit("Send a Friendship request") %>
		<% end %>
	</h2>
<% end %>

<h2><%= @requests.count %> Friendships Requests</h2>
<ul>
	<% @requests.all.each do |request| %>
		<li>
			<%= link_to request.friended.name, request.friended %>	
		</li>
	<% end %>
</ul>


<h2><%= @friends.count %> Friends</h2>
<ul>
	<% @friends.all.each do |friend| %>
		<li><%= link_to friend.friended.name, friend.friended %></li>
	<% end %>
</ul>